@font-face {
  font-family: Firago;
  src: url(fonts/FiraGO-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: firago;
}

main {
  margin: 0 5rem;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

header {
  padding: 25px 5rem 40px;
}

:root {
  --bg-color: #008bff;
  --grey-color: #cbd2e0;
}

a {
  text-decoration: none;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 84px;
}

.header-logo {
  color: var(--bg-color);
  font-size: 24px;
  font-weight: 700;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-container input {
  width: 690px;
  height: 46px;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
}

.search-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.bag-container {
  position: relative;
  display: inline-block;
  margin-left: 20px; /* Adjust margin as needed */
}

.bag-container img {
  width: 34px;
  height: 34px;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-container a img {
  width: 30px;
  height: 30px;
}

.auth-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: white;
  width: 190px;
  height: 46px;
}

.auth-button:hover {
}

/* Categories section styles */
.categories-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 16px;
}
li {
  list-style-type: none;
}
.burger-menu-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 15%;
}
.burger-menu {
  border: none;
}

.burger-menu img {
  width: 30px;
  height: 30px;
  background-color: white;
}

.all-categories-text {
  margin-left: 10px;
  font-size: 16px;
}

.categories-slider {
  position: relative;

  display: flex;
  width: 1022px;
}

.slider-nav {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: var(--grey-color);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider-nav.left {
  left: 200px;
  background-color: var(--grey-color);
  border-radius: 50%;
  display: block;
}

.slider-nav.right {
  right: 0;
  display: block;
}

ul li a {
  font-size: 16px;
  font-weight: 100;
}
.categories-container {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.categories-list {
  display: flex;
  transition: transform 0.3s ease;
  width: 90%;
  justify-content: space-between;
}

.category-item {
  flex: 0 0 auto;
  max-width: 140px;
  padding: 10px;
  text-align: center;
}

.content-section {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.column.left {
  flex: 1;
}

.column.right {
  flex: 1;
  text-align: right;
}

.link-text {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.icons {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}

.arrow-left::before,
.arrow-right::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.arrow-left::before {
  transform: rotate(135deg);
  margin-right: 5px;
}

.arrow-right::before {
  transform: rotate(-45deg);
  margin-left: 5px;
}

.slider-row {
  display: flex;
  overflow-x: auto;

  margin: 30px 0;
  justify-content: space-between;
}

.card-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.card {
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  position: relative;
}
#cards-container {
  width: 100%;
}

.card-header {
  position: relative;
}

.card-photo {
  width: 100%;
  height: auto;
}

.card-favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.card-body {
  padding: 10px;
}

.card-stars {
  color: black;
  display: flex;
  flex-direction: row;
}

.card-prices {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
}

.end-price {
  font-size: 18px;
  color: #333;
}

.start-price {
  font-size: 16px;
  color: #333;
  text-decoration: line-through;
}

.discount {
  background: #ff3333;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.add-to-cart-button {
  background-color: #008bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block;
  width: 270px;
  height: 40px;
}

.add-to-cart-button:hover {
  background-color: #007acc;
}
#sectionContainer {
  display: flex;
  justify-content: space-between;
}

.featured-card {
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 298px;

  display: flex;
  flex-direction: column;
}

.card-photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-photo {
  max-width: 100%;
  object-fit: contain;
}

.card-body h3 {
  margin: 10px 0;
}

.card-icon {
  width: 36px;
  height: 32px;
}

.featured-card .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* side-scroll  */
.side-scroll {
  display: flex;
  flex-direction: column;
  height: 390px;
  background-image: url("https://s3-alpha-sig.figma.com/img/1449/fc27/157377cdc5c19d0a8b16619829204f3d?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ClGqitvG~K9-3RS4sR-L9HDXTPTWXhH8BtQbpZmX-crzEPuOeHaObtlB5MIJobpEy0AZ26vYH~2EidCkfXWmbdrN-U7-pWZykT8JT~IsL--IdZRzXJlwGfSEKdUepauNtRjtKKNYeEPDvZkbfYPGv~QvZ7cooJiHtdGq4bSnK1ebPGnqLxNNarjjJcg7lFy36GSP5PadbBpqiBANyiRHkrDifXUAarZb8evJbd7iGLxHMvN-TSlKXEk7Td~RTBzMGcn334tw5ekE5AWMRQA8QGN2oRQv-0NfA0Sgb2jRvEbeLJOjS3pf20EemAmb6ChgMKDfY~c0SrMC8p1QJhSWfw__");
  background-position: center 57.5%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.mySlides {
  color: #ffffff;
  /* display: flex;
    flex-direction: column; */
  margin: 0 2rem;
  margin-top: 200px;
  width: 75%;
  /* gap:50px; */
  height: auto;
}

.mySlides h1 {
  font-family: FiraGO;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  width: 40rem;
  margin-bottom: 20px;
}

.mySlides i {
  font-family: FiraGO;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 350px;
}

.mySlides a {
  width: 216px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #008bff;
  color: #008bff;
  background-color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.mySlides a h3 {
  font-family: FiraGO;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 380px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #008bff;
  font-size: 50px;
  font-weight: 600;
  transition: 10s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Position the "next button" to the right */
.next {
  right: 4rem;
}
.prev {
  left: 4rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.dot:hover,
.dot.active {
  background-color: #2c8bdb;
}

/* sameCards */

.cardSection {
  background-color: #ffffff;
  width: 100%;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
}

.cards-head {
  display: flex;
  justify-content: space-between;
}

.allCards-button button {
  border: none;
  background: none;
}
.allCards-button button i {
  font-family: FiraGO;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.5px;
  text-decoration: underline;
  text-underline-offset: 2.5px;
}

#cards-container {
  /* width: 100%; */
  /* height: 390px; */
  height: auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.card {
  width: 298px;
  height: 390px;
  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 5px;
  position: relative;
  flex-wrap: wrap;
}

.card-img {
  width: 100%;
  height: 216px;
  object-fit: contain;
}
.card-img img {
  height: 216px;
}
.header {
  width: 15px;
  height: 15px;
}
.card .heart {
  height: 32px;
  background-color: transparent;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #efefef;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

.point {
  position: absolute;
  display: flex;
  top: 185px;
  align-items: center;
  left: 0.5rem;
}

.point img {
  width: 11.65px;
  height: 12px;
}
.point i {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  color: #717d96;
}

.card-content {
  width: 263px;
  /* height: 172px;  */
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 0.5rem;
}

.card-content h2,
.card-content h3,
.card-content .end-price,
.card-content .card-prices {
  height: 28px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #2d3648;
}

.card-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: #717d96;
  height: 20px;
  width: 100%;
}

.card-content button {
  width: 263px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ffffff;
  background-color: #008bff;
  border: none;
  border-radius: 7px;
  margin: 0 auto;
  cursor: pointer;
}

.allCards-button {
  display: flex;
  gap: 0.7rem;
}

.prev-nextFully {
  display: flex;
  color: #d8d8d8;
}

.fully-prev,
.fully-next {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fully-prev:hover,
.fully-next:hover {
  border-color: #80c5ff;
}

.fully-prev img:hover,
.fully-next img :hover {
  color: #80c5ff;
}

/* popular-brands */
.popularBrands {
  height: 659px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Brands {
  width: 100%;
  display: flex;
  gap: 1rem;
  height: 593px;
  display: grid;
  grid-template-columns: auto auto;
}
.Hape {
  height: 583px;
  background-color: #e7d1ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Hape-img img {
  object-fit: contain;
  height: 479px;
}

.similarPopular {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.Dyson {
  height: 285px;
  background-color: #ffe393;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Dyson-img img {
  object-fit: contain;
  height: 181px;
}

.GreenPan {
  height: 277px;
  background-color: #d8e4c2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.GreenPan-img img {
  object-fit: contain;
  height: 189px;
}

.Brand-arrow {
  width: 54px;
  height: 36px;
  /* padding: 0px 17px 0px 17px; */
  /* gap: 47px; */
  border-radius: 6px;
  cursor: pointer;
}

.Brand-info {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.Brand-info i {
  font-family: FiraGO;
  font-size: 24px;
  font-weight: 500;
  line-height: 31.2px;
  color: #363939;
}

/* ყველაფერი შენი სახლისთვის */

.fullyBox {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.lastCard {
  display: flex;
  justify-content: space-between;
}
.card2Section {
  background-color: var(--card-container-background-color);
  height: auto;
  /* width: 100%; */
  /* width: 1240px; */
  /* padding: 0 8%; */
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
#cards2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}

.card2 {
  /* width: 200px; */
  /* height: 414px; */
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 263px;
  height: 395px;
  border-radius: 8px;
  border: 1.5px solid #EFEFEF;
  display: block;
  position: relative;
  
}

.cardIMg{
  width: 255px;
}
#arrowOne {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 12px;
}
.arrowW{
  display: inline-block;
  position: absolute;
  top: 161px;
  left: 12px;
}
.textFully {
  text-decoration: underline;
}

.titleDesk{
  color: #717D96;
  padding: 0 0 22px 12px;
}

.priceText {
  font-weight: bold;
  padding: 0 0 12px 12px;
}
.cartButton{
  background-color: #008BFF;
  border-radius: 5px;
  border: 2px solid #008BFF;
  padding: 10px 35px;
  color: white;
  margin: 12px 0 12px 12px ;
  width: 90%;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
}
.allHomeName{
  padding: 35px 0 15px 12px;
}
.allHomeStartPr{
  font-size: 13px;
  color: #616161;
  text-decoration: line-through;
}
.allHomeDisc{
  color: white;
  border-radius: 30px;
  padding: 6px;
  background:#FF3333;

}
/* საზაფხულო წვეულება */

.partyOffers {
  position: relative;

}
.partyOffers .mainImg {
  opacity: 70%;
  width: 100%;
  display: block;
  margin: 0 auto}
.partyOffersText {
  position: absolute;
  width: 400px;
  left: 82px;
  top: 72px;}
.partyOffersText p {
  padding: 50px 0;
  font-weight: bold;
}
.partyOffersText button {
  display: flex;
  background-color: white;
  border-radius: 4px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 16px;}

.line{
  border: 1px solid #CBD2E0;
  margin: 40px 0 15px;}

  /* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 5rem;
}
footer li {
  padding: 8px 0;
}
li:first-child {
  font-weight: bold;

}
